.container > div {
  background-color: var(--headerbg);
  padding: 20px;
  border-radius: 12px;
  transition: transform 0.2s ease;
}
.container > div:hover {
  transform: scale(1.02);
}

.add-form {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 16px;
}
.add-form > input {
  padding: 5px 10px;
  font-size: 1rem;
  background-color: #fff;
  border-radius: 5px;
  border: none;
  box-shadow: var(--shadow);
}
:root.dark .add-form > input {
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: var(--inputbg);
}
.add-form > button {
  width: 100px;
}

h3 {
  text-decoration: underline;
  text-align: center;
}

ul {
  list-style: none;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-items: center;
  gap: 10px;
  font-weight: bold;
}
li > a {
  text-decoration: none;
  cursor: pointer;
}
.genre-ul {
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
}

@media (max-width: 700px) {
  .add-form {
    flex-direction: column;
  }
  .add-form > button {
    align-self: center;
    font-size: small;
  }
}
