#update-form {
  min-width: 300px;
  width: 50%;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  background: var(--bgColor);
  border-radius: 20px;
  box-shadow: 0 0 10px var(--color);
  z-index: 10;
  animation: animateDiv 0.3s ease forwards;
}

@keyframes animateDiv {
  0% {
    top: 0;
  }
  100% {
    top: 20%;
  }
}

.hidden {
  display: none;
  animation: none;
}

#update-form > form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

label {
  margin-top: 20px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  box-shadow: var(--shadow);
  background-color: var(--inputbg);
}
:root.dark input {
  border: 1px solid rgba(255, 255, 255, 0.4);
}

select {
  width: 100%;
  background-color: var(--inputbg);
}

option {
  padding: 0.2rem 0.85rem;
  background-color: var(--inputbg);
}

#update-form button {
  margin-right: 10px;
  margin-top: 20px;
}
